.mui-wrapper {
    color: #fff;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin: 6px 0;
    font-family: "Roboto";
  }
  .mui-inner {
    padding: 6px 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .mui-message {
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.46429em;
  }
  .mui-message-inner {
    display: flex;
    align-items: center;
  }
  
  .mui-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: -8px;
    padding-left: 16px;
  }
  .mui-action button {
    padding: 4px 8px;
    font-size: 0.8125rem;
    min-width: 64px;
    color: #fff;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    background-color: transparent;
  }
  @media (min-width: 600px) {
    .mui-wrapper {
      flex-grow: initial;
      min-width: 288px;
    }
  }
  