/* container styles */
.nt-ctnr {
  height: auto;
  display: flex;
  position: fixed;
  max-width: 100%;
  min-width: 288px;
  max-height: 100%;
  flex-direction: column;
  z-index: 1400;
}
.nt-ctnr.nt-bottom {
  flex-direction: column-reverse;
  bottom: 16px;
}
.nt-ctnr.nt-top {
  top: 14px;
}
.nt-ctnr.nt-left {
  left: 20px;
}
.nt-ctnr.nt-right {
  right: 20px;
}

@media (min-width: 960px) {
  .nt-ctnr.nt-center {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* container styles */
/* notit-toast styles */

.nt {
  color: #000;
  z-index: 1400;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.nt-top-left.enter,
.nt-bottom-left.enter,
.nt-top-left.exit,
.nt-bottom-left.exit {
  transform: translateX(-110%);
}

.nt-top-right.enter,
.nt-top-right.exit,
.nt-bottom-right.enter,
.nt-bottom-right.exit {
  transform: translateX(110%);
}
.nt-top-center.enter,
.nt-top-center.exit {
  transform: translateY(-600%);
}
.nt-bottom-center.enter,
.nt-bottom-center.exit {
  transform: translateY(600%);
}
.nt-top-left.entered,
.nt-top-center.entered,
.nt-top-right.entered,
.nt-bottom-left.entered,
.nt-bottom-center.entered,
.nt-bottom-right.entered {
  transform: translateX(0);
  overflow: auto;
}

.nt-cl-wrapper {
  width: 100%;
}
/* notit-toast styles */
